/*backgroung image*/
.bg-image {
	background-image: url('../image/farm.jpg');
	height: 750px;
	width: 100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	position: relative;
}
.chicken {
	width: 70px;
	height: 60px;
	z-index: 1;
	position: absolute;
	top: 650px;
	left: 800px;
	animation: chicken 4s infinite
}
@keyframes chicken { 
	from {left:1200px;}
	to {left:1000px;}
 }
.horse {
	width: 110px;
	height:180px;
	position: absolute;
	top: 350px;
	left:1000px;
	animation: horse 15s infinite
}
@keyframes horse {
	from {left: 200px;}
	to {left: 1200px;}
}
.caw {
	width: 100px;
	height: 120px;
	position: absolute;
	top: 550px;
	left:250px;
	animation: caw 8s infinite
}
@keyframes caw {
	0% {left: 300px;}
	25% {left: 250px;}
	45% {left: 350px;}
}
.duck {
	width: 75px;
	height: 120px;
	position: absolute;
	top: 450px;
	left:600px;
	animation: duck 15s infinite
}
@keyframes duck {
	from { left: 100px; }
	to {left: 300px;}
}
.papa {
	width: 110px;
	height: 160px;
	position: absolute;
	top: 380px;
	left: 950px;
	z-index: 2;
	animation: papa 10s infinite;
	
}
@keyframes papa {
	from { top:350px; }
	to {top:500px;}
}
.dog {
	width: 80px;
	height: 140px;
	position: absolute;
	top: 550px;
	left: 1000px;
	animation: dog 10s infinite
}
@keyframes dog {
	from {left:1000px;  }
	to {left:1300px;}
}